<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mybbs</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginAdminServlet</display-name>
    <servlet-name>loginAdminServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.loginAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginAdminServlet</servlet-name>
    <url-pattern>/loginAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>jumpServlet</display-name>
    <servlet-name>jumpServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.jumpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jumpServlet</servlet-name>
    <url-pattern>/jumpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getAreaListServlet</display-name>
    <servlet-name>getAreaListServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.admin.getAreaListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAreaListServlet</servlet-name>
    <url-pattern>/getAreaListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>toAreaServlet</display-name>
    <servlet-name>toAreaServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.admin.toAreaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toAreaServlet</servlet-name>
    <url-pattern>/toAreaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newAreaServlet</display-name>
    <servlet-name>newAreaServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.admin.newAreaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newAreaServlet</servlet-name>
    <url-pattern>/newAreaServlet</url-pattern>
  </servlet-mapping>
</web-app>