<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mybbs</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginAdminServlet</display-name>
    <servlet-name>loginAdminServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.loginAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginAdminServlet</servlet-name>
    <url-pattern>/loginAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>jumpServlet</display-name>
    <servlet-name>jumpServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.jumpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jumpServlet</servlet-name>
    <url-pattern>/jumpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getAreaListServlet</display-name>
    <servlet-name>getAreaListServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.admin.getAreaListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAreaListServlet</servlet-name>
    <url-pattern>/getAreaListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>toAreaServlet</display-name>
    <servlet-name>toAreaServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.admin.toAreaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toAreaServlet</servlet-name>
    <url-pattern>/toAreaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newAreaServlet</display-name>
    <servlet-name>newAreaServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.admin.newAreaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newAreaServlet</servlet-name>
    <url-pattern>/newAreaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateAreaServlet</display-name>
    <servlet-name>updateAreaServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.admin.updateAreaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateAreaServlet</servlet-name>
    <url-pattern>/updateAreaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getUserListServlet</display-name>
    <servlet-name>getUserListServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.admin.getUserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUserListServlet</servlet-name>
    <url-pattern>/getUserListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>toUserListServlet</display-name>
    <servlet-name>toUserListServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.admin.toUserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toUserListServlet</servlet-name>
    <url-pattern>/toUserListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteAreaServlet</display-name>
    <servlet-name>deleteAreaServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.admin.deleteAreaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteAreaServlet</servlet-name>
    <url-pattern>/deleteAreaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bannedUserSpeakServlet</display-name>
    <servlet-name>bannedUserSpeakServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.admin.bannedUserSpeakServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bannedUserSpeakServlet</servlet-name>
    <url-pattern>/bannedUserSpeakServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>toPlateServlet</display-name>
    <servlet-name>toPlateServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.admin.toPlateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toPlateServlet</servlet-name>
    <url-pattern>/toPlateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getPlateListServlet</display-name>
    <servlet-name>getPlateListServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.admin.getPlateListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getPlateListServlet</servlet-name>
    <url-pattern>/getPlateListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newPlateServlet</display-name>
    <servlet-name>newPlateServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.admin.newPlateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newPlateServlet</servlet-name>
    <url-pattern>/newPlateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatePlateServlet</display-name>
    <servlet-name>updatePlateServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.admin.updatePlateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatePlateServlet</servlet-name>
    <url-pattern>/updatePlateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletePlateServlet</display-name>
    <servlet-name>deletePlateServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.admin.deletePlateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletePlateServlet</servlet-name>
    <url-pattern>/deletePlateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>toPostServlet</display-name>
    <servlet-name>toPostServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.post.toPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toPostServlet</servlet-name>
    <url-pattern>/toPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getPostListServlet</display-name>
    <servlet-name>getPostListServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.post.getPostListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getPostListServlet</servlet-name>
    <url-pattern>/getPostListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newPostServlet</display-name>
    <servlet-name>newPostServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.post.newPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newPostServlet</servlet-name>
    <url-pattern>/newPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletePostServlet</display-name>
    <servlet-name>deletePostServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.post.deletePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletePostServlet</servlet-name>
    <url-pattern>/deletePostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatePostServlet</display-name>
    <servlet-name>updatePostServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.post.updatePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatePostServlet</servlet-name>
    <url-pattern>/updatePostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>toDisscussServlet</display-name>
    <servlet-name>toDisscussServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.disscuss.toDisscussServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toDisscussServlet</servlet-name>
    <url-pattern>/toDisscussServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newDisscussServlet</display-name>
    <servlet-name>newDisscussServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.disscuss.newDisscussServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newDisscussServlet</servlet-name>
    <url-pattern>/newDisscussServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getDisscussListServlet</display-name>
    <servlet-name>getDisscussListServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.disscuss.getDisscussListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getDisscussListServlet</servlet-name>
    <url-pattern>/getDisscussListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>toReplyListServlet</display-name>
    <servlet-name>toReplyListServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.reply.toReplyListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toReplyListServlet</servlet-name>
    <url-pattern>/toReplyListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newReplyServlet</display-name>
    <servlet-name>newReplyServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.reply.newReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newReplyServlet</servlet-name>
    <url-pattern>/newReplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getReplyListServlet</display-name>
    <servlet-name>getReplyListServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.reply.getReplyListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getReplyListServlet</servlet-name>
    <url-pattern>/getReplyListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteUserServlet</display-name>
    <servlet-name>deleteUserServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.admin.deleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUserServlet</servlet-name>
    <url-pattern>/deleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newUserServlet</display-name>
    <servlet-name>newUserServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.user.newUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newUserServlet</servlet-name>
    <url-pattern>/newUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sendEmailServlet</display-name>
    <servlet-name>sendEmailServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.user.sendEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendEmailServlet</servlet-name>
    <url-pattern>/sendEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>toUserServlet</display-name>
    <servlet-name>toUserServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.user.toUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toUserServlet</servlet-name>
    <url-pattern>/toUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findUserServlet</display-name>
    <servlet-name>findUserServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.user.findUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findUserServlet</servlet-name>
    <url-pattern>/findUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateUserServlet</display-name>
    <servlet-name>updateUserServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.user.updateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateUserServlet</servlet-name>
    <url-pattern>/updateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>myPostServlet</display-name>
    <servlet-name>myPostServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.post.myPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myPostServlet</servlet-name>
    <url-pattern>/myPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getPostServlet</display-name>
    <servlet-name>getPostServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.post.getPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getPostServlet</servlet-name>
    <url-pattern>/getPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminPostListServlet</display-name>
    <servlet-name>adminPostListServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.admin.adminPostListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminPostListServlet</servlet-name>
    <url-pattern>/adminPostListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminGetPostServlet</display-name>
    <servlet-name>adminGetPostServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.admin.adminGetPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminGetPostServlet</servlet-name>
    <url-pattern>/adminGetPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminDeletePostServlet</display-name>
    <servlet-name>adminDeletePostServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.admin.adminDeletePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminDeletePostServlet</servlet-name>
    <url-pattern>/adminDeletePostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginUserServlet</display-name>
    <servlet-name>loginUserServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.user.loginUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginUserServlet</servlet-name>
    <url-pattern>/loginUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getMessageServlet</display-name>
    <servlet-name>getMessageServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.admin.getMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getMessageServlet</servlet-name>
    <url-pattern>/getMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newMessageServlet</display-name>
    <servlet-name>newMessageServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.admin.newMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newMessageServlet</servlet-name>
    <url-pattern>/newMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteMessageServlet</display-name>
    <servlet-name>deleteMessageServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.admin.deleteMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteMessageServlet</servlet-name>
    <url-pattern>/deleteMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getPostListByPlateIdServlet</display-name>
    <servlet-name>getPostListByPlateIdServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.post.getPostListByPlateIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getPostListByPlateIdServlet</servlet-name>
    <url-pattern>/getPostListByPlateIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getReportListServlet</display-name>
    <servlet-name>getReportListServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.admin.getReportListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getReportListServlet</servlet-name>
    <url-pattern>/getReportListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>serachPostServlet</display-name>
    <servlet-name>serachPostServlet</servlet-name>
    <servlet-class>com.mybbs.servlet.post.serachPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serachPostServlet</servlet-name>
    <url-pattern>/serachPostServlet</url-pattern>
  </servlet-mapping>
</web-app>